/* COLORS
#55694f green
#8fb765 lime green
#e74155 red
#feffff white
#f5f4f0 gray
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	font-size: 16px;
	background-color: #f5f4f0;
}

.contact-top{
	background-color: #feffff;
	color: #55694f;
	font-weight: bold;
	padding: 1rem 5rem;
	display: flex;
	justify-content: flex-end;
}

.contact-top span{
	padding: 0 15px;
}

nav{
	display: flex;
	padding: 0 4rem;
	justify-content: space-between;
}

nav ul{
	list-style: none;
	display: flex;
}

nav li{
	padding: 10px;
}

nav a{
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 10px;
	color: #55694f;
	border: 3px solid #55694f;
	min-width: 90px;
	border-radius: 5px;
	font-size: 0.9rem;
	text-align: center;
}

#logo{
	max-width: 250px;
	width: 100%;
	align-self: center;
}

.hero-image{
	background-image: url(img/plants-bg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	display: flex;
	height: 200px;
	color: #feffff;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.hero-image a{
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px;
	color: #feffff;
	border: 3px solid #feffff;
	min-width: 100px;
	height: auto;
	border-radius: 5px;
	text-align: center;
	margin: 10px;
}

.quality{
	font-weight: 300;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 40px;
}

.quality h2, .season h2{
	text-transform: uppercase;
	color: #55694f;
	font-size: 1rem;
	padding-bottom: 8px;
}

.quality p{
	max-width: 450px;
	align-self: center;
}

.quality a, .season a{
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px;
	color: #8fb765;
	border: 3px solid #8fb765;
	min-width: 100px;
	height: auto;
	border-radius: 5px;
	text-align: center;
	margin: 15px;
	align-self: center;
	font-weight: 400;
}

.season{
	display: flex;
	text-align: center;
	flex-direction: column;
	padding: 40px;
	background-color: #feffff;
}

.images img{
	height: 100%;
	max-height: 175px;
	padding:30px;
}

footer{
	text-align: center;
	padding: 30px;
	color: #55694f;
	line-height: 1.6;
}

footer p{
	font-weight: 300;
}