/* COLORS
#55694f green
#e74155 red
#feffff white
#f5f4f0 gray
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	border: 0;
}

.contact-top{
	background-color: #f5f4f0;
	color: #55694f;
	font-weight: bold;
	padding: 1rem 5rem;
	display: flex;
	justify-content: flex-end;
}

.contact-top span{
	padding: 0 15px;
}